/* Custom Login CSS */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    align-items: center;
    background-color: #f4f4f4;
    color: #333;
  }
  
  .login-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 350px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  .rounded-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .error-message {
    color: red;
    margin-bottom: 15px;
  }
  
  .login-button,
  .create-account-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
  }
  
  .login-button {
    background-color: #28a745;
  }
  
  .create-account-button {
    background-color: #007bff;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
  }
  
  @media (max-width: 426px) {
    .login-box{
        width: 280px;
    }
  }